@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 1rem;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  background-color: #ffffff;
  height: 31.1875rem;
  width: 20rem;
  border-radius: 1.25rem;
  padding: 1rem;
}

.qr-image {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
}

.header {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  padding: 1rem;
}

p {
  font-size: 0.9375rem;
  text-align: center;
  color: hsl(220, 15%, 48%);
  padding: 0 1rem;
}
